<div class="col-md-3">
  <!-- Sections Menu-->
  <ul class="nav nav-section-menu mb-4 py-3">
    <li class="nav-header">Управление сайтом</li>
    <li>
      <a href="/admin/homepage" class="nav-link first">Главная страница<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/categories" class="nav-link ">Категории<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/items" class="nav-link ">Товары<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/collections" class="nav-link ">Коллекции<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/discount" class="nav-link ">Промо-коды<i class="fa fa-angle-right"></i> </a>
    </li>

    <li>
      <a href="/admin/clients" class="nav-link ">Пользователи<i class="fa fa-angle-right"></i> </a>
    </li>
    <li>
      <a href="/admin/orders" class="nav-link ">Заказы<i class="fa fa-angle-right"></i> </a>
    </li>

    <li>
      <a href="/admin/mailer" class="nav-link ">Рассылка<i class="fa fa-angle-right"></i> </a>
    </li>
  </ul>
</div>