
<div id="page-header">
  <div class="container clearfix">

    <nav class="breadcrumb float-md-left"> <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a> <span class="breadcrumb-item active"><%= @page_type%></span> </nav>
  </div>
</div>
<div id="content" class="py-3 py-lg-6">
  <div class="container">

    <!-- Products grid -->



    <div class="row">
      <div class="col-9">
        <h4>Продажа сувениров и подарков</h4>
        <p>Солидные подарки и скромные знаки внимания, изящные безделушки и практичные сувениры всегда
          вызывают только положительные эмоции! Интернет магазин «Лакшми» предлагает изделия, которые будут служить
          великолепным подарком близким людям, партнерам по бизнесу, детям, друзьям, коллегам по любому поводу. У нас
          можно приобрести оптом самые разные сувениры на Новый год, 8 марта, 23 февраля, семейное торжество, юбилей,
          корпоративный праздник или день рождения.
        </p>
        <p>Если вы занимаетесь розничной продажей сувенирной продукции, то
          сотрудничество с нами принесет вам только позитивные эмоции и весьма ощутимую прибыль!</p>
        <h4>Сувениры и подарки оптом: конкурентные цены и свобода выбора</h4>
        <p>В интернет магазине «Лакшми» представлен огромный ассортимент таких изделий из Китая как:</p>
        <ul style="margin-bottom: 10px;">
          <li>новогодние и бизнес сувениры;</li>
          <li>амулеты, брелоки, бусы, четки;</li>
          <li>предметы для ароматерапии;</li>
          <li>вазы, веера, украшения;</li>
          <li>светодиодные воздушные шары;</li>
          <li>воздушные змеи, фонарики;</li>
          <li>восточная одежда, кожгалантерея;</li>
          <li>декоративные статуэтки, кальяны;</li>
          <li>товары для дома, туризма, спорта и рыбалки;</li>
          <li>текстиль, фарфор, искусственные цветы;</li>
          <li>шкатулки, игрушки, фотоальбомы;</li>
          <li>настольные игры, наборы для покера и многое многое другое.</li>
        </ul>
        <p>Изучайте каталог и выбирайте! Оригинальные сувениры можно купить оптом по очень выгодной цене и с дополнительными
          скидками, размер которых зависит от суммы заказа. Богатый ассортимент продукции порадует почитателей восточной культуры
          и не оставит равнодушными поклонников древней китайской науки фен-шуй. В различных разделах можно подобрать креативные подарки,
          красивую посуду, компьютерные гаджеты, товары для красоты и здоровья, полезные и функциональные аксессуары для дома.</p>
        <h4>«Лакшми» – выгодное сотрудничество и отличный сервис</h4>
        <p>Основные преимущества сотрудничества с нами:</p>
        <ul class="mainli" style="margin-bottom: 10px;">
          <li>широкий ассортимент;</li>
          <li>удобная форма оплаты;</li>
          <li>выгодные цены;</li>
          <li>солидные скидки;</li>
          <li>регулярные акции;</li>
          <li>предоставление сертификатов, счетов и других документов;</li>
          <li>возможность резервирования товаров, находящихся в пути.</li>
        </ul>
        <p>Чтобы приобрести сувениры и подарки оптом, вам нужно зарегистрироваться на
          сайте, выбрать нужные товары, поместить их в корзину и оформить заказ.
          Его можно забрать самостоятельно с нашего склада в Москве или оформить курьерскую доставку
          по указанному адресу. Мы также отправляем товары во все населенные пункты Московской области
          и транспортными компаниями в другие регионы России. Форма оплаты – наличными средствами курьеру или безналичный расчет.
        </p>
        <p>Звоните или заказывайте обратный звонок, и узнавайте подробности сотрудничества!</p>
      </div>
      <div class="col-3 ">

        <div class="bg-grey  p-3 p-lg-4 mb-3">
          <h3 class="text-uppercase font-weight-bold mt-0 mb-2 text-center">Документы</h3>
          <hr class="my-3 w-50 mx-auto" />
          <a href="http://lakshmi888.ru/images/stories/dogovor.doc">Договор ИП Кузниченко А.В.</a><br>
          <a href="http://lakshmi888.ru/images/stories/cartip.xls">Карточка ИП Кузниченко А.В.</a><br>
          <a href="http://lakshmi888.ru/images/stories/rekvizit_sber.doc">Реквизиты в банке "Сбербанк России"</a><br>
          <a href="http://lakshmi888.ru/images/stories/infonds.doc" >Информационное письмо</a><br>
          <a href="http://lakshmi888.ru/images/stories/price0205.xls" >Оптовый прайс-лист</a><br>
          <a href="http://lakshmi888.ru/images/stories/price.xls" >Оптовый прайс-лист с фотографиями</a><br>
          <a href="http://lakshmi888.ru/images/stories/brak.doc" >Порядок работы в случае брака</a><br>
          <a href="http://lakshmi888.ru/images/stories/reklam.xls">Акт рекламации</a><br>
          <a href="http://lakshmi888.ru/images/stories/rezervl.doc">Порядок работы по резервированию товаров</a>
        </div>



      </div>

    </div>

    <!-- Pagination -->

  </div>


  <!-- Products sidebar -->




</div>
