<div id="page-header">
  <div class="container clearfix">
    <nav class="breadcrumb float-md-left"> <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a> <span class="breadcrumb-item active"><%= @page_type%></span> </nav>
  </div>
</div>
<div id="content" class="py-3 py-lg-6">
  <div class="container">
 <div class="row">
      <div class="col-6">
        <p> <strong>Адрес офиса:</strong><br> г. Москва, м. Нагорная, Электролитный проезд, д. 10, 3-й этаж, офис № 305</p>
        <p>  <strong>Адрес склада: </strong><br> г. Москва, м. Нагорная, Электролитный проезд, д. 10</p>
        <p>
          <strong>Email:</strong><br>
          <a href="mailto:info@lakshmi888.ru">info@lakshmi888.ru</a>
        </p>
        <p>
          <strong>Телефоны:</strong><br>
          8 (495) 926-33-59 (тел/факс)<br>
          8-800-707-28-10
        </p>
        <a href="https://instagram.com/Lakshmi888.ru" target="_blank" style="margin: 0px; padding: 0px; border: none;"><img src="http://lakshmi888.ru/images/stories/instagram.png" alt="" style="margin: 0px 0px -5px; padding: 0px; border-style: none;"></a>&nbsp;<a href="https://instagram.com/Lakshmi888.ru" target="_blank" style="margin: 0px; padding: 0px; border: none;">Мы в Instagram</a></span></p>
        <p>
          <strong>Режим работы офиса и склада:</strong><br>
          понедельник - пятница с 10-00 до 18-00;<br>
          суббота, воскресенье - выходные дни.
        </p>
      </div>
      <div class="col-6">
        <iframe src="https://yandex.ru/map-widget/v1/-/CBQoqQf1~A" width="560" height="400" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
