

<!-- ======== @Region: body ======== -->


<!-- @plugin: page loading indicator, delete to remove loader
<div class="page-loader" data-toggle="page-loader"></div> -->

<a id="#top" href="#content" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->


<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted">
  <!-- Showshow - Slider Revolution see: plugins/slider-revolution/examples&sources for help invoke using data-toggle="slider-rev" options can be passed to the slider via HTML5 data- ie. data-startwidth="960" -->
  <div class="slider-wrapper rev_slider_wrapper bg-black" data-page-class="slider-appstrap-theme">
    <div class="rev_slider" data-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":500, "delay":10000}'>
      <ul>

        <li class="slide overlay overlay-op-2" data-transition="fadethroughdark" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="assets/img/shop/beach.jpg" data-rotate="0" data-saveperformance="off" data-title="Summer" data-mediafilter="earlybird">
          <!-- MAIN IMAGE -->
          <img src="http://blog.hometogo.com.ua/content/images/2016/02/Feng-Shui-lightworkers.jpg" alt="Background image" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- SLIDE 1 Content-->
          <div class="slide-content container">
            <!--elements within .slide-content are pushed below navbar on "behind"-->
            <!-- Layer 1 -->
            <div class="tp-caption text-grey" data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['140','140','140','140']" data-fontsize="['52','52','52','52']" data-lineheight="['52','52','52','52']" data-width="420" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="left">
                  <span class="font-weight-bold text-uppercase text-white">
                    КРАСОТА
                    <br />
                    СПАСЕТ МИР
                  </span>
            </div>
            <!-- Layer 3 -->
            <div class="tp-caption text-grey" data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['80','80','80','80']" data-fontsize="['20','20','20','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']">УЗНАЙТЕ ПОДРОБНОСТИ
            </div>
            <!-- Layer 3
            <div class="tp-caption rs-parallaxlevel-8" data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.10;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]' data-x="left" data-y="bottom" data-hoffset="0" data-voffset="0" data-width="none" data-height="none" data-type="image" data-basealign="slide"> <i class="fa fa-bullseye icon-25x icon-bg op-1 text-white"></i>
            </div> -->
            <!-- Layer 4-->
            <div class="tp-caption tp-resizeme bg-primary-bright" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']" data-y="bottom" data-voffset="120" data-width="355" data-height="4" data-basealign="slide"></div>
          </div>
        </li>
     </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!--end of tp-banner-->
  </div>
</div>

<!-- ======== @Region: #content ======== -->
<div class="container py-4">
  <div class="row text-center">
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fa fa-truck" style="font-size: 25px;"></i></td>
          <td style="    padding-left: 20px;
              border-right: 1px solid #e5e5e5;
              padding-right: 35px;">ЧТО ТУТ НАПИСАТЬ??????<br/>
            dfsdfdsfdsfdsfdsfds
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fa fa-truck" style="font-size: 25px;"></i></td>
          <td style="    padding-left: 20px;
              border-right: 1px solid #e5e5e5;
              padding-right: 35px;">ЧТО ТУТ НАПИСАТЬ??????<br/>
            dfsdfdsfdsfdsfdsfds
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-4 py-2">
      <table class="">
        <tbody>
        <tr>
          <td style="text-align: right;"><i class="fa fa-truck" style="font-size: 25px;"></i></td>
          <td style="padding-left: 20px;">ЧТО ТУТ НАПИСАТЬ??????<br/>
            dfsdfdsfdsfdsfdsfds
          </td>
        </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>
<div style="border-bottom: solid 1px #e5e5e5; padding-bottom: 0px !important;">
</div>

  <div class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      КАТЕГОРИИ ТОВАРОВ
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
      ЧТО ТУТ НАПИСАТЬ???????????
    </h5>
    <hr class="mb-5 w-50 mx-auto" />



    <div id="container" class="cols">
      <%  @cat_all.each do |cat|%>
          <div class="box <%=@w[rand(1..6)]%> overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-9 overlay-gradient overlay-dark">
              <h3  class="mb-0">
                <%=cat.cat_name%>
              </h3>

            </div>
            <!-- Image -->
            <img class="card-img-top img-fluid w-100 w-md-auto" style="width: 100%;" src="/images/maincategory/<%=cat.cat_image%>" alt="Card image cap">
          </div>

      <%end%>
    </div>



  </div>
  <!-- Featured Products -->
  <div id="features" class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      АКЦИИ И СКИДКИ
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
      ЧТО ТУТ НАПИСАТЬ???????????
    </h5>
    <hr class="mb-5 w-50 mx-auto" />
    <!-- Products cards -->
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <!-- Product 1 -->
        <div class="card product-card overlay-hover">
          <!-- Hover content -->
          <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
            <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> Add to Cart</a>
            <a href="#" class="text-white">Add to Wishlist</a>
          </div>
          <!-- Image & price content -->
          <div class="pos-relative">
            <img class="card-img-top img-fluid" src="assets/img/shop/shoes-2.jpg" alt="Card image cap">
            <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">
                  <del class="op-5">$24.99</del>
                  / $19.99
                </span>
          </div>
          <!-- Content -->
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / Shoes</small>
            <h4 class="card-title">
              New Balance Shoes
            </h4>
            <p class="card-text"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">15 in Stock</small>
          </div>
        </div>
        <!-- Product 2 -->
        <div class="card product-card overlay-hover">
          <!-- Hover content -->
          <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
            <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> Add to Cart</a>
            <a href="#" class="text-white">Add to Wishlist</a>
          </div>
          <!-- Ribbon -->
          <div class="card-ribbon card-ribbon-top card-ribbon-left bg-danger text-white">Low Stock</div>
          <!-- Image & price content -->
          <div class="pos-relative">
            <img class="card-img-top img-fluid" src="assets/img/shop/mens-sports-2.jpg" alt="Card image cap">
            <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">$39.99</span>
          </div>
          <!-- Content -->
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Sports</small>
            <h4 class="card-title">
              Nike Training Top
            </h4>
            <p class="card-text"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><strong class="text-danger">4 in stock</strong></small>
          </div>
        </div>
        <!-- Product 3 -->
        <div class="card product-card overlay-hover">
          <!-- Hover content -->
          <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
            <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i> Add to Cart</a>
            <a href="#" class="text-white">Add to Wishlist</a>
          </div>
          <!-- Ribbon -->
          <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Eco Friendly</div>
          <!-- Image & price content -->
          <div class="pos-relative">
            <img class="card-img-top img-fluid" src="assets/img/shop/promo-kids.jpg" alt="Card image cap">
            <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">$9.99</span>
          </div>
          <!-- Content -->
          <div class="card-body">
            <small class="text-muted text-uppercase"><span class="text-primary">Kids</span> / Jumpers</small>
            <h4 class="card-title">
              Kids Wolly Jumper
            </h4>
            <p class="card-text"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">105 in Stock</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <div style="padding-bottom: 50px !important;" class="container" data-url="#">
    <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-danger" />
    <div class="pos-relative">
      <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
      <div class="p-4 text-center bg-danger">
        <h2 class="display-4 font-weight-normal text-uppercase text-white my-0 text-slab">
          ТУТ МОЖНО РАЗМЕСТИТЬ ИНФУ О РАСПРОДАЖЕ
        </h2>
        <h4 class="text-white mb-0 text-slab">
          Описание распродажи
        </h4>
      </div>
    </div>
    <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
  </div>
  <!-- Collections -->

  <!-- Feature Blocks -->
  <div class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="http://www.astroguide.ru/files/article/54064/main-image/1404_11.jpg"></div>
        <div class="col-lg-6 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
            Сувениры <span class="text-primary font-weight-bold">оптом</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">

              <p>Оптовый интернет-магазин подарков и сувениров «Лакшми» предлагает своим покупателям большой выбор
                товаров на любой вкус, бюджет и повод. У нас можно заказать традиционные сувениры или оригинальные презенты.
                </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">

              <p>На сайте можно купить подарки оптом для реализации в своем магазине или для близких людей и коллег на
                Новый год, 8 Марта, День Победы и другие праздники. Решив купить сувениры оптом, с «Лакшми» вы
                сэкономите деньги и время на поиск, выбор и покупку презентов.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Latest trends block -->
  <div class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 offset-lg-1 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="display-4 text-slab text-grey-dark text-uppercase mt-0 mb-5">
            Наш <span class="text-primary font-weight-bold">ассортимент</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center">
            </div>
            <div class="col-10 col-md-11">
              <p>
              <ul style="list-style-type:square !important; ">
                <li>сувениры для мужчин и женщин, для бизнеса и интерьера: подарочные наборы «Сомелье», 3D-скульпторы, посуду, композиции из цветов и кристаллов и др.;</li>
                <li>фэншуй-продукцию для тех, кто заботится об энергетике в доме и офисе: ловушки снов, восточные фонтаны, амулеты и т. п.;</li>
                <li>галантерейные изделия: от зонтов до украшений для волос;</li>
                <li>игрушки для детей: куклы, лазерные указки, скутеры и проч.;</li>
                <li>настольные игры – интеллектуальные, семейные и для взрослой компании.</li>
              </ul>
              </p>

            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center">
            </div>

          </div>
        </div>
        <div class="col-lg-6 divider-diagonal divider-light" data-bg-img="https://timeforwoman.ru/upload/resize_cache/iblock/d6c/700_1000_1/Feng_Shui_beautifully_bokeh______d_4300x3047.jpg"></div>
      </div>
    </div>
  </div>
  <!-- Beach 2017 -->
  <div class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="https://www.sunhome.ru/i/wallpapers/57/kitaiskii-fen-shui.960x540.jpg"></div>
        <div  class="col-lg-6 py-6">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
          <h2 class="display-4 text-slab text-grey text-uppercase mt-0 mb-5">
            Наши <span class="text-white font-weight-bold">преимущества</span>
          </h2>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold text-white text-uppercase">
                Широкий ассортимент
              </h4>
              <p>
                Купить сувениры в интернет-магазине «Лакшми» можно для личных
                (дни рождения, юбилеи, годовщины и т. д.), профессиональных (день учителя, бухгалтера и др.)
                или календарных праздников. На сайте регулярно обновляется и пополняется товарная линейка,
                поэтому вы всегда сможете купить подарки оптом в Москве или другом городе, идеально подходящие к поводу.
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-white icon-2x op-8"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold text-white text-uppercase">
                Доступные цены
              </h4>
              <p>
                Если вы хотите приобрести сувениры оптом дешево, следите за акциями,
                которые регулярно проводит наш интернет-магазин подарков в Москве. Оптовые цены действуют
                при заказе на сумму от 3000 рублей. Также вы можете получить единовременную скидку при покупке от
                20 000 рублей. Уточнить условия вы можете у менеджеров нашего магазина подарков оптом.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- New Products -->

</div>




