
<div id="page-header">
  <div class="container clearfix">
    <nav class="breadcrumb float-md-left"> <a class="breadcrumb-item" href="/">ГЛАВНАЯ</a> <a class="breadcrumb-item" href="#">ОФОРМЛЕНИЕ ЗАКАЗА</a> <span class="breadcrumb-item active">РАЗМЕЩЕНИЕ ЗАКАЗА</span> </nav>


  </div>
</div>
<div id="content" class="py-5">
  <div class="container">
    <div class="text-center mb-6">
      <i class="fa fa-check-circle icon-6x text-success"></i>
      <h3>
        Ваш заказ был успешно размещен.
      </h3>
      <h4 class="font-weight-normal">
        Код заказа: <%=session[:order]%>
      </h4>
      <p>На Ваш адрес электронной почты высланы все необходимые инструкции.</p>
      <% if session[:newclient]%>
          <p>Вы успешно зарегистрированы на сайте, подтвердите свой адрес электронной почты для активации аккаунта.</p>
      <% end %>
    </div>




  </div>
</div>