<p>Спасибо за регистрацию, для продолжения работы на сайте необходимо подтвердить адрес эл. почты</p>
<p>Пожалуста перейдите по <a href="http://<%= request.host %>/activate/?id=<%= @user.id %>">ссылке</a> для активации аккаунта.</p>

<p>Ваш логин : <%= @user.client_email %></p>
<p>Ваш пароль : <%= @user.client_password %></p>
